body {
	margin: 0;
	padding: 0;
}

#wrapper {
	width: 90%;
	background: #f6f6f6;
	margin: 0 auto;
	border: 0.3rem solid #f6f6f6;
}

header {
	text-align: center;
	padding: 0.5rem;
}

header h1{
	letter-spacing: 0.2rem;
}

section#one{
	margin-top: 2.0rem;
	background: #ffffff;
	margin: 0 auto;
}

section#one img{
	display: block;
	margin: 0 auto;
	padding: 1rem 0;
}

section#two {
	background: #f6f6f6;
	margin-bottom: 1rem;
}

section#two input {
	width: 30%;
	padding: 0.5rem 1rem;
}


input::placeholder {
	color: grey;
	text-align: center;
}

section#two #ipt {
	text-align: center;
}

section#two .btn {
	padding: 0.5rem;
	border-radius: 0.5rem;
	margin: 0.2rem; 
}

section#two #bg {
	text-align: center;
}

section {
	background: #f6f6f6;
}

section ul {
	padding: 1rem;
	height: auto;
	background: #ffffff;
	margin: 0 auto;
	text-decoration: none;
	list-style: none;

}

section#result ul li {
	padding: 1rem 0;
	list-style: none;
	margin: 1rem 0;
	background: #ffffff;
	border: 1rem solid #f6f6f6;
	padding: 1rem;
	border-radius: 0.5rem;
}

section#result ul li:hover {
	border: 1rem solid rgba(158, 158, 158, 0.44);
}

section#result a {
  display: block;
  margin: 10px;
  padding: 0 50px;
  padding: 20px;
  text-align: justify;
  color: #000;
  background-color: #fff;
  border-radius: 5px;
  text-decoration: none;
}

h1 {
	color: blue;
}

p {
	font-size: 1.2rem;
}


footer {
	clear: both;
	padding: 1rem;
	background: #f6f6f6;
	text-align: center;
}
